// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Quicksand';
    src: url('./font/Quicksand-VariableFont:wght.ttf');
}
a:hover {
    text-decoration: none !important;
}
* {
    font-family: 'Quicksand';
}
//custome
.btn-template {
    color: white;
    border-color: $templateColorOrange;
    background-color: $templateColorOrange;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover {
        color: $templateColorOrange;
        background-color: white;
        transition: all 0.5s;
    }
}
.btn-none-focus {
    &:focus {
        outline: unset !important;
        box-shadow: unset !important;
    }
}
textarea {
    height: 150px !important;
}
.header {
    border-bottom: 1px solid #c3c3c3;
}
.footer {
    border-top: 1px solid #c3c3c3;
}
.navbar {
    &-brand {
        img {
            max-width: 200px;
        }
    }
}
.hp-part-title {
    h3 {
        color: $templateColorOrange;
        font-weight: bold;
        letter-spacing: 2px;
    }
}
.navbar {
    &-brand {
        img {
            max-width: 200px;
        }
    }
}
.hp-part-title {
    h3 {
        color: $templateColorOrange;
        font-weight: bold;
        letter-spacing: 2px;
    }
}
.product {
    &-img-fix {
        img {
            height: fit-content !important;
            max-height: 450px;
            min-height: 450px;
        }
    }
    &-item {

    }
    &-name {
        color: $textColorBlack;
        font-weight: bold;
    }
    &-price {
        p {
            color: $templateColorOrange;
            font-weight: 900;
            letter-spacing: 1.5px;
            font-size: 18px;
        }
    }
}
//form
.form {
    &-box {
        padding: 15px;
        border: 1px solid #c3c3c3;
        -webkit-box-shadow: 9px 7px 5px -1px rgba(217,217,217,1);
        -moz-box-shadow: 9px 7px 5px -1px rgba(217,217,217,1);
        box-shadow: 9px 7px 5px -1px rgba(217,217,217,1);
    }
    &-body {
        padding: 15px 0px;
        border-bottom: 1px solid #c3c3c3;
        border-top: 1px solid #c3c3c3;
    }
    &-title {
        padding-bottom: 15px;
    }
    &-footer {
        padding-top: 15px;
    }
}
//login client
.login-client {
    height: 78vh;
    display: flex;
    align-items: center;
}
//pagination
div.pagination {
    padding: 16px 0;
    display: flex;
    justify-content: center;
}
ul.pagination {
    margin-bottom: 0;
    .page {
        &-link {
            color: $templateColorOrange;
        }
        &-item {
            .active .page-link {
                background-color: $templateColorOrange;
                border-color: $templateColorOrange;
            }
        }
    }
}
.page-item.active .page-link {
    background-color: $templateColorOrange;
    border-color: $templateColorOrange;
}
//product detail
.product {
    &-content {
        .name {
            border-bottom: 1px dotted #dfe0e1;
            p {
                font-size: 35px;
                color: $templateColorOrange;
            }
        }
        .price-box {
            border-bottom: 1px dotted #dfe0e1;
            .sale-percent {
                padding: 5px 15px;
                background: #ededed;
                font-size: 20px;
            }
            .price, .price-sale {
                color: $templateColorOrange;
                font-size: 25px;
            }
            .price-strike {
                font-size: 20px;
                font-weight: bold;
            }
        }
        .status {
            border-bottom: 1px dotted #dfe0e1;
        }
        .description {
            border-bottom: 1px dotted #dfe0e1;
        }
        .action {
            border-bottom: 1px dotted #dfe0e1;
        }
    }
}
//custome carousel
.carousel-control-prev, .carousel-control-next {
    opacity: 1 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 40px;
    height: 40px;
}
//sub category
.nav-item {
    &:hover {
        .sub-category {
            display: block;
        }
    }
}
.sub-category {
    display: none;
    position: absolute;
    z-index: 999;
    background: white;
    padding: 10px 40px;
    border: 1px solid #c3c3c3;
    -webkit-box-shadow: -4px 3px 5px -1px #b9b9b9;
    -moz-box-shadow: -4px 3px 5px -1px #b9b9b9;
    box-shadow: -4px 3px 5px -1px #b9b9b9;
    width: max-content;
    top: 50px;
    a {
        color: $textColorBlack;
    }
}
//client cart
.table-cart {
    td {
        vertical-align: middle;
        text-align: center;
        border: 1px solid #dddddd;
    }
    img {
        max-height: 140px;
        width: auto;
    }
    .sale-percent {
        padding: 5px 15px;
        background: #ededed;
        font-size: 15px;
    }
}
//client order
.table-order {
    td {
        vertical-align: middle;
        text-align: center;
        border: 1px solid #dddddd;
    }
    img {
        max-height: 50px;
        width: auto;
    }
    .sale-percent {
        padding: 0 10px;
        background: #ededed;
        font-size: 15px;
    }
}
.box-no-item-cart {
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
//list comment
.list-cmt {
    &-item {
        border-bottom: 1px solid #dddddd;
        &:last-child {
            border-bottom: 0px;
        }
    }
}
//rating number star
.star_number {
    float: left;
    height: 50px;
}
.star_number:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.star_number:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.star_number:not(:checked) > label:before {
    content: '★ ';
}
.star_number > input:checked ~ label {
    color: #ffc700;
}
.star_number:not(:checked) > label:hover,
.star_number:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.star_number > input:checked + label:hover,
.star_number > input:checked + label:hover ~ label,
.star_number > input:checked ~ label:hover,
.star_number > input:checked ~ label:hover ~ label,
.star_number > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.star-yellow {
    color: #ffc700;
}
.star-white {
    color: #ccc;
}
